  //Backwards Arrow

.backwards{
    height: 5em;
    width: 8em;
    margin: 0;
    padding: 0;

    border-radius: 30% 70% 100% 0% / 0% 0% 100% 100%;
    background-color: var(--background-tertiary);
    transition: 0.5s ease;
}

.arrow{
    color: var(--text-color);
    transition: 0.5s ease;
}

.arrow svg{
    padding-top: 10px;
    padding-left: 20px;

    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.arrow svg:hover{
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 980px) {  
    .backwards{
        height: 3em;
        width: 6em;
    }

    .arrow svg{
        padding-top: 5px;
        padding-left: 10px;

        width: 30px;
        height: 30px;
    }
}